body#home{
  background: url("bg.jpg") no-repeat center center fixed ;
  background-size: cover;
  font-family: cursive;
  height: 100%;
}
.menu-btn{

  z-index: 3;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line{
  width: 35px;
  height: 5px;
  background-color: #03A9F4;
  opacity: 0.9;
  margin: 6px 0;
  transition: 0.4s;
}
.menu-btn.close{
  transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(-45deg) translate(-9px, 6px); }
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0; }
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(45deg) translate(-8px, -8px) ; }

.menu-btn:hover > .btn-line{
background-color: #B3E5FC;
transition: all 0.2s ease-out;
}
.menu{
  position: fixed;
  top:0;
  width:100%;
  visibility: hidden;
}
.menu.show{
  visibility: visible;
}
.menu-branding, .menu-nav{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu-nav {
  margin: 0;
  padding: 0;
  background: #373737;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out; }
  .menu-nav.show {
    transform: translate3d(0, 0, 0); }
.menu-branding {
  background: #444444;
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out; }
  .menu-branding.show {
    transform: translate3d(0, 0, 0); }
  .menu-branding .portrait {
    width: 250px;
    height: 250px;
    background: url("me.jpeg");
    background-size: cover;
    border-radius: 50%;
    border: solid 3px #B3E5FC; }
.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out; }
  .menu .nav-item.show {
    transform: translate3d(0, 0, 0); }
  .menu .nav-item.current > a {
    color: #FDD023; }
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  padding: 1rem 0;
  font-weight: 300;
  color: #B3E5FC;
  text-decoration: none;
  transition: all 0.5s ease-out; }
  .menu .nav-link:hover {
    color: #FDD023; }
.nav-item:nth-child(1) {
transition-delay: 0.1s; }

.nav-item:nth-child(2) {
transition-delay: 0.2s; }

.nav-item:nth-child(3) {
transition-delay: 0.3s; }
.nav-item:nth-child(4) {
transition-delay: 0.3s; }

* {
box-sizing: border-box; }

/* main{
  overflow: hidden;
} */
/* Main section css */
.copy-container{
  padding:150px 100px;
  float: right;
  margin:0 auto;
}
.copy-container a{
  color:#B3E5FC;
  padding:0 35px 0 5px;
  float:right;
}

.copy-container a:hover{
    color:#FDD023;
    transition: all 0.5s ease-out;
}
.heading{
  font-size: 45px;
  color:#B3E5FC;
  border-radius: 30px;
  background-color: #212121;
  padding:0 35px;
}
.heading:hover{
  background-color:#B3E5FC;
  color:#212121;
  cursor:default;
  transition: all 0.2s ease-out
}
.title{
  padding: 0 35px;
  text-align: right;
  color:#FDD023;
  font-style: italic;
}
body#about, body#works,body#contact {
  background: #444444;
  color: white;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem, 1rem;
    background: rgba(73, 73, 73, 0); }

a {
  color: white;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #B3E5FC; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #B3E5FC;
        transition: all 0.5s ease-out; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio'
 'job1 job2';
  grid-template-columns: repeat(2, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 70%;
    border: #B3E5FC 4px solid; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.4rem; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .job {
    background: #515151;
    padding: 0.5rem;
    border-bottom: #B3E5FC 5px solid; }
    #main-footer {
      text-align: center;
      padding: 1rem;
      background: #2b2b2b;
      color: white;
      height: 60px; }
      .projects {
        display: grid;
        grid-gap: 0.7rem;
        grid-template-columns: repeat(3, 1fr); }
        .projects img {
          width: 100%;
          height:200px;
          border: 3px white solid; }
          .projects img:hover {
            opacity: 0.5;
            border-color: #B3E5FC;
            transition: all 0.5s ease-out; }
            .boxes {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-evenly;
              align-items: center;
              margin-top: 1rem;

              div {
                font-size: 30px;
                border: 3px white solid;
                padding: 1.5rem 2.5rem;
                margin-bottom: 3rem;
                @include easeOut;

                &:hover {
                  padding: 0.5rem 1.5rem;
                  background: $secondary-color;
                  color: set-text-color($secondary-color);
                  span {
                    color: set-text-color($secondary-color);
                  }
                }
              }
            }
            .boxes {
              font-size: 28px;
              margin-bottom: 3rem;
              transition: all 0.5s ease-out; }

            .btn, .btn-dark, .btn-light {
              display: block;
              padding: 0.5rem 1rem;
              border: 0;
              margin-bottom: 0.3rem; }
              .btn:hover, .btn-dark:hover, .btn-light:hover {
                background: #B3E5FC;
                color: white; }

            .btn-dark {
              background: black;
              color: white; }

            .btn-light {
              background: #c4c4c4;
              color: #333; }

            #main-footer {
              text-align: center;
              padding: 1rem;
              background: #2b2b2b;
              color: white;
              height: 60px; }

            @media screen and (min-width: 1171px) {
              .projects {
                grid-template-columns: repeat(4, 1fr); } }

            @media screen and (min-width: 769px) and (max-width: 1170px) {
              .projects {
                grid-template-columns: repeat(3, 1fr); } }

            @media screen and (max-width: 768px) {
              main {
                align-items: center;
                text-align: center; }
                main .lg-heading {
                  line-height: 1;
                  margin-bottom: 1rem; }
              ul.menu-nav,
              div.menu-branding {
                float: none;
                width: 100%;
                min-height: 0; }
                ul.menu-nav.show,
                div.menu-branding.show {
                  transform: translate3d(0, 0, 0); }
              .menu-nav {
                height: 75vh;
                transform: translate3d(-100%, 0, 0);
                font-size: 24px; }
              .menu-branding {
                height: 25vh;
                transform: translate3d(100%, 0, 0); }
                .menu-branding .portrait {
                  background: url(me.jpeg);
                  background-size: cover;
                  width: 150px;
                  height: 150px; }
              .about-info {
                grid-template-areas: 'bioimage'
             'bio'
             'job1'
             'job2';
                grid-template-columns: 1fr; }
              .projects {
                grid-template-columns: repeat(2, 1fr); } }

            @media screen and (max-width: 500px) {
              main {
                padding: 2rem; }
                main .lg-heading {
                  margin-top: 1rem;
                  font-size: 4rem; }
              .projects {
                grid-template-columns: 1fr; } }
